body {
  background: white;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: rgb(0, 28, 177);
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 40px 50px;
}

h2, h3{
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2{
  font-size: 20px;
}

.filter, .timesort, .random {
  display: inline-block;
  padding-left: 50px;
}

p, li, button{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

button {
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 10px;
}

.filter button {
  background-color: rgb(215, 255, 221);
  color: rgb(0, 28, 177);
}

.timesort button {
  background-color: rgb(255, 236, 232);
  color: rgb(0, 28, 177);
}

.random button {
  background-color: rgb(248, 211, 170);
  color: rgb(0, 28, 177);
}

.filter button:hover, .random button:hover {
  border-color: rgb(0, 28, 177);
}

.filter button.active, .random button.active {
  background-color: rgb(0, 28, 177);
  color: white;
}

.timesort button:hover {
  border-color: rgb(0, 28, 177);
  background-color: rgb(237, 95, 117);
  color: white;
}
.timesort button.active {
  background-color: rgb(237, 95, 117);
  color: white;
}

.searchField {
  padding: 50px;
}

.searchField input {
  padding: 5px;
  display: inline-block;
  width: 40%;
}
::-webkit-input-placeholder {
  color: rgb(174, 174, 174);
}

:-moz-placeholder {
  color: rgb(174, 174, 174);  
}

::-moz-placeholder {
  color: rgb(174, 174, 174);  
}

:-ms-input-placeholder {  
  color: rgb(174, 174, 174);  
}

.recipeList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  padding-top: 20px;
  column-gap: 40px;
  row-gap: 20px;
}

.recipe {
  width: 100%;
  border: 2px solid lightgray; 
  padding: 20px; 
  border-radius: 25px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe div {
  height: auto;
}

.recipe img{
  border-radius: 30px;
}

.recipe ul{
  list-style-type: none;
  padding-left: 0;
}

div .recipe:hover{
  border: 2px solid rgb(0, 28, 177);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.separator {
  border: none;
  border-top: 1px solid lightgray;
  margin: 10px 0;
  width: 100%;
}